@import "assets/styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
  font-family: 'Merriweather', serif;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-1;
}
h1{
  color: $h1-color;
}
