@import "assets/styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
  font-family: 'Merriweather', serif;
}
ul {
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: $font-1;
  font-weight: 600;
}
html, body{
  height: 100%;
  margin: 0;
}
body {
  font-family: 'MedievalSharp', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-1;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}