@import './src/assets/styles/colors';
.box{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background: $background-1;
  width: 100%;
  font-weight: 700;
  padding: 1em;
  border-radius: 5px;
}